# Python artifacts
__pycache__/
*.py[cod]
*.pyo
.venv/
env/

# Poetry lock files
poetry.lock

# IDE/editor files
.idea/
.vscode/

# macOS
.DS_Store

# audio test files
test.wav

# Generated music files
downloads/
*.mp3
*.wav
*.flac
*.m4a

# dotenv
.env
